<div class="ma3 sans-serif" [formGroup]="calcForm">
  <section>
    <h2>Research</h2>
    <div>
      <mat-form-field class="example-full-width mr3">
        <mat-label>Ticker</mat-label>
        <input matInput formControlName="tickerToScour" />
      </mat-form-field>
      <button mat-raised-button color="primary" class="ml3" (click)="scour()">
        Scour
      </button>
      <button mat-button color="accent" class="ml3" (click)="save()">
        Save
      </button>
    </div>
  </section>

  <section *ngIf="ticker">
    <div class="sans-serif" [formGroup]="calcForm">
      <h4 class="f5">Overview:&nbsp;</h4>
      <p>
        {{ overview?.Description }}
      </p>
      <mat-divider></mat-divider>
      <h4 class="f5">Key Metrics</h4>
      <mat-list>
        <mat-list-item>
          <h4 class="f5">ROIC</h4>
          <h4 class="calisto f4">{{ roic }}</h4>
        </mat-list-item>
        <!-- https://www.alphaspread.com/security/nyse/epam/profitability/ratio/return-on-invested-capital -->
        <mat-divider></mat-divider>

        <mat-list-item>
          <h4 class="f5">Is S&P 500?</h4>
          <h4 class="calisto f4">{{ isInSP500 }}</h4>
        </mat-list-item>
        <mat-divider></mat-divider>

        <mat-list-item>
          <h4 class="f5">Market Cap</h4>
          <h4 class="calisto f4">
            {{ overview?.MarketCapitalization | numberSuffix : 2 }}
          </h4>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <br />
    <mat-tab-group dynamicHeight>
      <mat-tab label="Checklist">
        <!-- <research-template [overview]="overview" (onFormGroupChange)="templateFormUpdated($event)"></research-template> -->
      </mat-tab>
      <mat-tab label="Income Statement">
        <income-statement [ticker]="ticker"></income-statement>
      </mat-tab>
      <mat-tab label="Balance Sheet">
        <balance-sheet [ticker]="ticker"></balance-sheet>
      </mat-tab>
      <mat-tab label="Cash Flow">
        <cash-flow [ticker]="ticker"></cash-flow>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
