<div class="ma3 sans-serif">
  <section style="height: 30px;" class="flex justify-between">
    <!-- <div>API STATUS {{ apiIsConnected }}</div>
    <mat-spinner [diameter]="25" *ngIf="loading$ | async"></mat-spinner> -->
  </section>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Details Insights">
      <details-insights></details-insights>
    </mat-tab>
    <mat-tab label="Dashboard News">
      <dashboard-news></dashboard-news>
    </mat-tab>
    <mat-tab label="Portfolio Watchlist">
      <portfolio-watchlist></portfolio-watchlist>
    </mat-tab>
  </mat-tab-group>
</div>
