<div class="ma3 sans-serif">
  <section>
    <h2>Companies</h2>
    <!-- Get All 
    <button mat-button (click)="getCompanies()">GET</button>
    <br /> -->
  </section>

  <!-- <section>
    <h2>Cost Reducer</h2>
    <section><cost-reducer></cost-reducer></section>
  </section> -->
  <section>
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 w-100"
      matSort
    >
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Name Column -->
      <ng-container matColumnDef="ticker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.ticker }}</td>
      </ng-container>

      <ng-container matColumnDef="shares_held">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Holding</th>
        <td mat-cell *matCellDef="let element">{{ element.shares_held }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="target_price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Target</th>
        <td mat-cell *matCellDef="let element">
          {{ element.evaluation.target_price }}
        </td>
      </ng-container>

      <ng-container matColumnDef="adjust_holdings">
        <th mat-header-cell *matHeaderCellDef>Adjust</th>
        <td mat-cell *matCellDef="let element"><button mat-button>Hi</button></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
